body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ededed;
}

p {
    margin-bottom: 15;
    padding: 0;
    color: #000000;
}

a {
    color: #2162a1;
    text-decoration: underline;
}

a:hover {
    color: #ffa023;
}

button {
    vertical-align: top;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #ffb700;
    border: none;
    border-radius: 18px;
    color: #111;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

button:active {
    opacity: 0.8;
}

button:hover {
    background-color: #ffc641;
    padding-left: 35px;
    padding-right: 35px
}

.search-bar {
    margin-top: 3px;
    vertical-align: top;
    font-size: 15px;
    font-family: Roboto;
    padding: 8px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #38383857;
    transition: all 0.3s;
}

.search-bar:hover {
    border: none;
    border-width: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-img {
    vertical-align: top;
    height: 40px;
    width: 40px;
    object-fit: contain;
    object-position: top;
}

.product-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.product-price {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #979797;
    font-weight: bold;
}

.product-delivery {
    color: #555;
}

.add-to-cart:active {
    opacity: 0.8;
}

.buy-now {
    background-color: #ffa023;
    color: #000;
}

.buy-now:hover {
    background-color: #ffbc50;
}

.product-status {
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    color: #ff5e00;
}

.product-marketing {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 35px;
    font-family: Roboto;
    font-weight: bolder;
}

.price-title {
    margin-top: 5px;
    text-align: center;
}

.center {
    text-align: center;
}

.center-product {
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.special-buy {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #fff;
    background-color: #0080ff;
}

.special-buy:hover {
    background-color: #2270bd;
}

.canvas {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    background-color: #d3d3d3;
    text-align: center;
}

.product-preview {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
    width: 200px;
    min-width: 0px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.product-preview:hover {
    margin-left: 10px;
    margin-right: 10px;
}

.product-img {
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}