button {
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
}

.subscribe-button {
    background-color: #da0000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    width: 105px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 15px;
    transition: opacity 0.3s, background-color 0.3s;
}

.subscribe-button:hover {
    opacity: 0.8;
    background-color: #b40000;
}

.subscribe-button:active {
    opacity: 0.5;
    background-color: #ff0000;
}

.join-button {
    background-color: #ffffff;
    color: #0073ff;
    border-style: solid;
    border-color: #0073ff;
    border-radius: 2px;
    border-width: 1px;
    width: 105px;
    padding-top: 9.36px;
    padding-bottom: 9.36px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.join-button:hover {
    color: #fff;
    background-color: #0073ff;
}

.join-button:active {
    background-color: #0073ff;
    opacity: 0.5;
}

.tweet-button {
    background-color: #009dff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 105px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.3s;
}

.tweet-button:hover {
    background-color: #1ba8ff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.linkedin-apply-button {
    background-color: #0e62d6;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s, margin-left 0.3s, margin-right 0.3s, padding-left 0.3s, padding-right 0.3s;

}

.linkedin-apply-button:hover {
    background-color: #0b4699;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 38px;
    padding-right: 38px;

}

.linkedin-save-button {
    background-color: #ffffff;
    color: #0e62d6;
    border-style: solid;
    border-color: #0e62d6;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: margin-left 0.3s, margin-right 0.3s, padding-left 0.3s, padding-right 0.3s;
}

.linkedin-save-button:hover {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 38px;
    padding-right: 38px
}

span {
    display: block;
    height: 15px;