body {
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;

    background: linear-gradient(#fff, #333);
}

.parent {
    background-color: #af47ff;
    padding: 30px;
    width: 500px;
    margin: 30px;
    text-align: center;
}

.title {
    margin: 0;
    margin-bottom: 30px;
    color: white;
    background-color: #333;
    padding: 10px;
}

.child {
    background-color: #ff4797;
    padding: 30px;
}

.box {
    display: flex;
    background-color: #f3ff47;
    padding: 30px;
    border: 2px solid #333;
    border-style: dotted;
    text-align: justify;
}

.none {
    float: none;
    padding: 20px 20px 20px 20px;
}

.left {
    float: left;
    padding: 20px 20px 20px 0;
}

.right {
    float: right;
    padding: 20px 0 20px 20px;
}

.left-clear {
    float: left;
    clear: left;
    padding: 20px 20px 20px 0;
}

.right-clear {
    float: right;
    clear: right;
    padding: 20px 0 20px 20px;
}

.both-clear {
    float: none;
    clear: both;
    padding: 20px 20px 20px 20px;
}