.margin-centered {
    /*Both Vertically & Horizontally*/
    width: 50px;
    text-align: center;

    background-color: lightblue;
    margin: 30px calc(50% - 25px);
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 100px;

    background-color: lightpink;
}

.sample-form {
    position: relative;

    margin-top: 30px;
    height: 400px;

    border: 1px solid grey;
    background-color: lightgray;
}

.header {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    top: 10px;
    left: 10px;
    right: 10px;

    height: 50px;
    background-color: lightblue;
}

.sidebar {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    top: 60px;
    bottom: 10px;
    left: 10px;

    width: 50px;
    background-color: lightpink;
}

.main {
    display: block;
    position: absolute;

    text-align: center;
    align-content: center;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: lightpink lightblue;
    scroll-behavior: smooth;

    top: 60px;
    bottom: 10px;
    left: 60px;
    right: 10px;

    background-color: white;
}

.content {
    align-content: center;
    height: 1000px;
}