.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: lightblue;
    width: 150px;
}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}

.right-section {
    background-color: lightblue;
    width: 200px;
}

.search-bar {
    display: block;
    font-family: Roboto, Arial, sans-serif;
    height: 40px;
    flex: 1;
    width: 200;
    min-width: 0;
    padding-left: 12px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
}